<settings>
    <setting id="indicator.new" type="bool">false</setting>
    <setting id="home.hidewidgetbox" type="bool">false</setting>
    <setting id="TMDbHelper.Service" type="bool">true</setting>
    <setting id="background.showvisualisation" type="bool">false</setting>
    <setting id="background.animate" type="bool">false</setting>
    <setting id="skinviewtypes.view.disabled.59" type="bool">false</setting>
    <setting id="widgets.donthidemenu" type="bool">false</setting>
    <setting id="home.tilecolor.nofocus" type="bool">false</setting>
    <setting id="kioskmode" type="bool">false</setting>
    <setting id="furniture.overlayinfo" type="bool">false</setting>
    <setting id="disable.weatherheader" type="bool">false</setting>
    <setting id="disable.clockheader" type="bool">false</setting>
    <setting id="tmdbhelper.enablecolors" type="bool">false</setting>
    <setting id="global.widescreen" type="bool">false</setting>
    <setting id="home.transparent" type="bool">false</setting>
    <setting id="enablecolorfilter" type="bool">false</setting>
    <setting id="header.tilefollowsnode" type="bool">false</setting>
    <setting id="tmdbhelper.forcewidgetcontainer" type="bool">false</setting>
    <setting id="global.hideobjectshadows" type="bool">false</setting>
    <setting id="header.mainheadercount" type="bool">false</setting>
    <setting id="osdvisualisation.showfanart" type="bool">false</setting>
    <setting id="header.colormatch" type="bool">false</setting>
    <setting id="home.tilecolor" type="bool">false</setting>
    <setting id="artistslideshow.animate" type="bool">false</setting>
    <setting id="tmdbhelper.enableblur" type="bool">false</setting>
    <setting id="global.eminenceonestyle" type="bool">false</setting>
    <setting id="lists.dontshowextralabels" type="bool">false</setting>
    <setting id="music.autovis" type="bool">false</setting>
    <setting id="artistslideshow.enabled" type="bool">false</setting>
    <setting id="indicator.watched" type="bool">false</setting>
    <setting id="skinviewtypes.view.disabled.550" type="bool">false</setting>
    <setting id="global.showdialogshadows" type="bool">false</setting>
    <setting id="videoosd.hidenotification" type="bool">false</setting>
    <setting id="musicvis.fanartfallback" type="bool">false</setting>
    <setting id="skinviewtypes.view.disabled.500" type="bool">false</setting>
    <setting id="global.fanart" type="bool">false</setting>
    <setting id="indicator.unwatchedepisodes" type="bool">false</setting>
    <setting id="indicator.resume" type="bool">false</setting>
    <setting id="furniture.flags.extradetail" type="bool">false</setting>
    <setting id="music.showuserratings" type="bool">false</setting>
    <setting id="osdblackscreen" type="bool">false</setting>
    <setting id="tmdbhelper.enabledesaturate" type="bool">false</setting>
    <setting id="debuginfo" type="bool">false</setting>
    <setting id="disable.mainheader" type="bool">false</setting>
    <setting id="home.showdiscart" type="bool">false</setting>
    <setting id="background.showvideo" type="bool">false</setting>
    <setting id="background.hidefanart" type="bool">false</setting>
    <setting id="SkinShortcuts-FullMenu" type="bool">true</setting>
    <setting id="furniture.hidesortinfo" type="bool">false</setting>
    <setting id="furniture.showflags" type="bool">false</setting>
    <setting id="horizontalmenus" type="bool">false</setting>
    <setting id="tmdbhelper.enablecrop" type="bool">false</setting>
    <setting id="switchsides" type="bool">false</setting>
    <setting id="skin.forcedview.playlists" type="string"></setting>
    <setting id="background.fallback" type="string"></setting>
    <setting id="highlightcolor" type="string"></setting>
    <setting id="fanart.opacity" type="string"></setting>
    <setting id="skin.forcedview.games" type="string"></setting>
    <setting id="skin.forcedview." type="string"></setting>
    <setting id="home.headericon" type="string"></setting>
    <setting id="skin.forcedview.directors" type="string"></setting>
    <setting id="home.fallbackwidget.name" type="string"></setting>
    <setting id="highlightcolor2" type="string"></setting>
    <setting id="skin.forcedview.mixed" type="string"></setting>
    <setting id="skin.forcedview.countries" type="string"></setting>
    <setting id="skinshortcuts-sharedmenu" type="string">true</setting>
    <setting id="skin.forcedview.sets" type="string"></setting>
    <setting id="skin.forcedview.musicvideos" type="string"></setting>
    <setting id="skin.forcedview.movies" type="string"></setting>
    <setting id="skin.forcedview.unknown" type="string"></setting>
    <setting id="skin.forcedview.addons" type="string"></setting>
    <setting id="skin.forcedview.seasons" type="string"></setting>
    <setting id="home.fallbackwidget.node" type="string"></setting>
    <setting id="busyspinner" type="string"></setting>
    <setting id="home.fallbackwidget" type="string"></setting>
    <setting id="skin.forcedview.tvshows" type="string"></setting>
    <setting id="home.widgetposters" type="string">Always</setting>
    <setting id="skin.forcedview.studios" type="string"></setting>
    <setting id="skin.forcedview.files" type="string"></setting>
    <setting id="startupplaylist" type="string"></setting>
    <setting id="skin.forcedview.years" type="string"></setting>
    <setting id="weather.icons.path" type="string"></setting>
    <setting id="home.mainheadertext" type="string"></setting>
    <setting id="skin.forcedview.genres" type="string"></setting>
    <setting id="skin.forcedview.albums" type="string"></setting>
    <setting id="skin.forcedview.videos" type="string"></setting>
    <setting id="home.fallbackwidget.target" type="string"></setting>
    <setting id="skin.forcedview.images" type="string"></setting>
    <setting id="home.headertext" type="string"></setting>
    <setting id="skin.forcedview.actors" type="string"></setting>
    <setting id="skin.forcedview.songs" type="string"></setting>
    <setting id="global.background" type="string"></setting>
    <setting id="skin.forcedview.episodes" type="string"></setting>
    <setting id="skin.forcedview.artists" type="string"></setting>
    <setting id="skin.forcedview.tags" type="string"></setting>
    <setting id="home.style" type="string">Default</setting>
    <setting id="home.subheadertext" type="string"></setting>
</settings>
